:root {
    --color-primary: #16213E;
    --color-font: #fff;
    --color-font-active: #E94560;
    --color-shadow: rgb(233, 69, 96, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-font);
    font-size: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
}

.container h1 {
    margin-bottom: 16px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    background-color: var(--color-primary);
    border-radius: 25px;
    margin-bottom: 8px;
    box-shadow: 0 0 8px 1px var(--color-shadow);
}

.selection {
    opacity: 0.08;
    margin: 4px 4px;
    padding: 4px 24px;
}

.nav p.active {
    opacity: 1;
    color: var(--color-font-active);
}

.timer {
    margin: 24px 0;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 50px 1px var(--color-shadow);
    border-radius: 100%;
    position: relative;
}

.progress-overlay {
    width: 94%;
    height: 94%;
    background-color: var(--color-primary);
    background-image: conic-gradient(var(--color-primary) 0deg, var(--color-font-active) 0deg);
    border-radius: 100%;
    z-index: 1;
}

.progress {
    position: absolute;
    background-color: var(--color-primary);
    border-radius: 100%;
    width: 91%;
    height: 91%;
    z-index: 2;
}

.timer p {
    font-size: 320%;
    z-index: 3;
}

.button-box {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    font-size: 180%;
}

.stack-box {
    position: relative;
}

.button {
    margin: 8px 8px;
    cursor: pointer;
}

.button:active {
    color: var(--color-font-active);
}

#start-button {
    position: absolute;
}

#pause-button {
    visibility: hidden;
}
